
.signupModalButton:disabled {
  cursor: default;
  border: none;
  color: gray;
  border: 3px solid gray;
  box-shadow: 3px 3px 0px gray;
  background-color: lightgrey;
  font-size: 20px;
  margin-bottom: 10px;
}

.signupModalButton {
    cursor: pointer;
    background-color: orangered;
    color: white;
    border: 3px solid black;
    box-shadow: 3px 3px 0px black;
    font-size: 20px;
    margin-bottom: 10px;
  }

.inputBold{
  border: 2px solid black;
}

.modalBackgroundSignup {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #00000088;
    position: fixed;
    left:0%;
    top:0%;
    width:100vw;
    height:100vh;
  }

  .modalContainerSignup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5%;
    gap:15px;
  }

  .modalContainerSignup .titleSignup {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
  }




.formValuesSignup{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right:10px;
    gap:10px;
}
