

.titleCloseBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.starDirection{
    display: flex;
    flex-direction: row;
}

.modalSubmit{
    background-color: black;
    color: red;
}
