


.starStyle{
  margin: 5px;
  background-color: white;
  border: none;
}

/*sets them for good*/
.toBeFilled{
  background-color: white;
  border: none;
  margin: 15px;
  cursor: pointer;
}

.fa-regular.fa-star{
  font-size: 25px;
}

.fa-solid.fa-star{
  font-size: 25px;
  padding: 0;
  margin: 0;
}



.submitReviewButton:disabled{
  width: 300px;
  height: 50px;
  margin: 10px;
  border: none;
  color: white;
  border: 3px solid gray;
  box-shadow: 3px 3px 0px gray;
  background-color: gray;
  font-size: 20px;
  cursor: default;
}

.submitReviewButton{
  width: 300px;
  height: 50px;
  margin: 10px;
  border: none;
  color: white;
  border: 3px solid black;
  box-shadow: 3px 3px 0px black;
  font-size: 20px;
  cursor: pointer;
  background-color: orangered;
}


.reviewInput{
    background-color: #E8F0FE;
    border: 3px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width:100%;
    height: 100%;
}
  .modalBackgroundPost {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #00000088;
    position: fixed;
    bottom:0%;
    width:100%;
    height:100%;
  }

  .modalContainerPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 5%;
    gap:15px;
  }

  .inputPost{
    display: flex;
    flex-direction: column;
    gap:15px;
  }

  .modalContainerPost .titlePost {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
  }

  .titleCloseBtnPost {
    display: flex;
    justify-content: flex-end;
  }

  .titleCloseBtnPost button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }


.starDirection{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

  .modalContainerPost .footerPost {

    display: flex;
    justify-content: center;
    align-items: center;
  }
