

.comma{
    display: flex;
}

.cityAndState{
    display: flex;
    justify-content: space-between;
    width:100%
}

.latAndLng{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width:100%
}

.createNewSpotPrice{
    display: flex;
    width: 100%;
}
.sweet{
    display: flex;
}

.error{
    color: crimson;
}

.pageTitle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.createForm{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}

.section{
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.titles{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

}

.subs{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70%;
}

.createButton{
    cursor: pointer;
    color: white;
    background-color: orangered;
    border: 2px solid black;
    box-shadow: 2px 2px 0 black;
    margin: 10px;
}

.createButton:disabled{
    cursor:default;
    color: white;
    background-color: grey;
    border: 2px solid black;
    box-shadow: 2px 2px 0 black;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #E8F0FE;
    border: 2px solid black;
}

.inputCity{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F0FE;
    border: 2px solid black;
}

.textAreaCreateSpot{
    width: 100%;
    background-color: #E8F0FE;
    border: 2px solid black;
    margin-bottom: 5px;

}

.commaSpan{
    margin-right: 5px;
}

.country{
    width: 100%;
}

.inputFixedPrice{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F0FE;
    border: 2px solid black;
    margin: 5px;
    width: 100%;


}
