

.containerHover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hoverTrue{
  background-color: black;
  color:white;
  position:absolute;
  /* z-index: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
}



.landingPage{
  margin-top: 10px;
  /* min-width: 200px; */
  cursor: pointer;
}
/*styles the layout of the entire spot tiles 'one div'*/
.spotGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}


/*styles the tile itself where the image is contained*/
.spotTileButton{
  background-color: white;
  border: 0px solid white;

}

/*styles all the images*/
.spotTileButton img{
  width:100%;
  height:20vw;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

/* .containerHover img{
  width:100%;
  height:20vw;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

} */

.tileInformation{
  display: flex;
  flex-direction: column;
}

.line1{
  display: flex;
  justify-content: space-between;
}

.rightHalf1{
  display: flex;
  flex-direction: row;
}

.price{
  display: flex;
  gap:3px;
}

.priceBold{
  font-weight: bold;
}
