

.hoverTrue{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color:white;
  position:absolute;
  padding: 10px;

}

.landingPage{
  margin-top: 10px;
  cursor: pointer;
}



/*styles the layout of the entire spot tiles 'one div'*/
.spotGrid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 10px;
}@media screen and (
  max-width:600px
){
  .spotGrid{
    grid-template-columns: repeat(2, 2fr);
  }
}


/*styles the tile itself where the image is contained*/
.spotTileButton{
  background-color: white;
  border: 0px solid white;
  width: 100%;
  padding:0;

}

/*styles all the images*/
.spotTileButton img{
  width:100%;
  height:20vw;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

/* .containerHover img{
  width:100%;
  height:20vw;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

} */

.tileInformation{
  display: flex;
  flex-direction: column;
}

.line1{
  display: flex;
  justify-content: space-between;
}

.rightHalf1{
  display: flex;
  flex-direction: row;
}

.price{
  display: flex;
  gap:3px;
}

.priceBold{
  font-weight: bold;
}
