


.roseWord{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:

}


.manageSpotsButton a{
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.signupLoginButtons{
    background-color: white;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    margin: 2px;
}

/*styles the button that opens the drop down menu*/
.mainButton{
    display: flex;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    background-color: white;
}

/*styles the drop down box BEFORE user login*/
.choices{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    margin: 5%;
}

/*styles the right half of the navigation bar once the user is logged in*/
.wholeHalfNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
}

/*styles the create a new spot button once the user is logged in*/
.createSpotButtonNav{
    background-color: white;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(1, 75, 75);
    cursor: pointer;
}

/*styles the box that opens the drop down menu once the user is logged in*/
.profileClick{
    background-color: white;
    cursor: pointer;
    display: flex;
    gap:10px;
    border-radius: 30%;
}


/*styles the drop down box AFTER user login*/
.listChoicesBox{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3px;
    width:100%;
    margin:2px;
}

/*styles the manage spots button in the drop down menu*/
.manageSpotsButton{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
}

/*styles the log out button in the drop down menu*/
.logoutButton{
    border-radius: 30%;
    background-color: gray;
    color:white;
    cursor: pointer;
}

/* styles the entire navigation bar */
.whole{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid lightgrey;
}

/* styles the left half of the navigation bar */
.roseButton a{
    text-decoration: none;
    color: darkred;
}

/*styles the image button on the left half of the navigation bar*/
.roseButton img{
    border-radius: 50px;
}

.roseWordWidth{
    margin-left: 5px;
}
