
/*styles the button that opens the drop down menu*/
.mainButton{
    display: flex;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    background-color: white;
}

/*styles the drop down box*/
.choices{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    margin: 5%;
}

/*styles the right half of the navigation bar once the user is logged in*/
.wholeHalfNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
}

/*styles the create a new spot button*/
.createSpotButtonNav{
    background-color: white;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(1, 75, 75);
    cursor: pointer;
}

/*styles the box once the user is logged in*/
.profileClick{
    background-color: white;
    cursor: pointer;
    display: flex;
    gap:10px;
    border-radius: 30%;
}



.listChoicesBox{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3px;
    width:100%;
    margin:2px;
}

.manageSpotsButton{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
}

.logoutButton{
    border-radius: 30%;
    background-color: gray;
    color:white;
    cursor: pointer;
}
.whole{
    /* position: fixed;

    left:0;
    right:0;
    width: 100%;
    z-index: 9999; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid lightgrey;

}

.roseButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    color: red;
}

.roseButton img{
    border-radius: 50px;
}
